@import './index.scss';

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
}

.list__item {
    justify-self: center;
    width: 85%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.list__img {
    border-radius: 4px 4px 0px 0px;
    width: 100%;
}

.list__text {
    color: #333;
    padding: 5px;
    font-weight: 600;
}

.list__item:hover {
    box-shadow: 0 0 20px $green;
}

.list__text:hover {
    color: $gold;
    text-shadow: 0 0 15px $gold;
}