@import '../../styles/index.scss';

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 1.5rem 2rem;
}

.nav__item {
    text-shadow:
            1px 1px 0 $gold,
            1px -1px 0 $gold,
            -1px 1px 0 $gold,
            -1px -1px 0 $gold;
    color: #333;
    font-size: 20px;
    transition: all 1s;
}

.nav__item:hover {
    text-shadow:
            1px 1px 0 $green,
            1px -1px 0 $green,
            -1px 1px 0 $green,
            -1px -1px 0 $green;
}