* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  transition: .3s all;
}

body {
  background-color: #222;
}

.main {
  padding: 0 2rem;
}